.TilesDemo {
  font-family: Verdana;
  color: black;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  font-size: 14px;

  header {
    padding: 10px;
    border-bottom: 1px solid rgba(17,20,24,.15);

    display: flex;
    justify-content: space-between;
    white-space: nowrap;
  }

  .Tiles {
    overflow: auto;
  }

  footer {
    padding: 10px;
    border-top: 1px solid rgba(17,20,24,.15);
  }

  main {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    margin: 0 5px;
  }

  button {
    all: unset;
    cursor: pointer;
    padding: 0 8px;
    border: 1px solid rgba(17,20,24,.15);
    border-radius: 10px;
    font-size: smaller;
    white-space: nowrap;
  }

  button:hover {
    background-color: lightyellow;
  }

  button.active {
    background-color: yellow;
    color: #111;
  }
}

.Tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--tile-min-width, 250px), 1fr));
  grid-auto-rows: 80px;

  gap: 15px;
  padding: 10px;

  cursor: pointer;

  header, main, section, h1, h2, p, .left, .right {
    all: unset;
  }

  .Tile {
    background-color: var(--tile-color, white);
    color: var(--tile-font-color, black);

    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(17,20,24,.1), 0 1px 1px rgba(17,20,24,.2), 0 2px 6px rgba(17,20,24,.2);
    transition: transform .2s cubic-bezier(.4,1,.75,.9),box-shadow .2s cubic-bezier(.4,1,.75,.9),-webkit-transform .2s cubic-bezier(.4,1,.75,.9);

    &:hover {
      box-shadow: 0 0 0 1px rgba(17,20,24,.1), 0 2px 4px rgba(17,20,24,.2), 0 8px 24px rgba(17,20,24,.2);
    }
    
    padding: 10px;
    height: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
      display: flex;
      justify-content: space-between;
    }

    header {
      display: flex;
      flex-direction: column;

      h1 {
        font-weight: bold;
        font-size: larger;
      }

      h2 {
        font-style: italic;
      }
    }

    main {
      font-size: xx-large;
      font-weight: bold;
      display: flex;
      align-items: center;

      svg {
        height: 30px;

        path {
          fill: var(--tile-font-color, black);
        }
      }
    }

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .tile-progress {
    --tile-color: var(--tile-yellow-color, #fff843);
    --tile-font-color: black;
    --tile-highlight-color: black;
    --tile-highlight-bg-color: white;
    overflow: hidden;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    pointer-events: none;
  }
} 

.Highlight {
  color: var(--tile-highlight-color, black);
  background-color: var(--tile-highlight-bg-color, #fff843);
}
