span.Caret {
  color: #111;
  animation: blink 0.5s linear infinite;

  @keyframes blink {
    0% {
      color: #aaa;
    }

    50% {
      color: #aaa;
    }

    50.01% {
      color: #111;
    }

    100% {
      color: #111;
    }
  }
}
