span.InputText {
  .selection,
  ::selection {
    background-color: #aaa;
    color: #111;
  }

  .caret {
    animation: blink-caret 0.5s linear infinite;
  }

  @keyframes blink-caret {
    0%,
    50% {
      text-decoration: underline;
    }
    50.01%,
    100% {
      text-decoration: none;
    }
  }
}
