a {
  text-decoration: none;
  color: deepskyblue;
}

a:hover {
  text-decoration-line: underline;
}

ul {
  list-style: none;
}

.user {
  color: lawngreen;
}

.user-end {
  color: #aaa;
}

@keyframes blink {
  0% {
    color: #aaa;
  }
  50% {
    color: #aaa;
  }
  50.01% {
    color: #111;
  }
  100% {
    color: #111;
  }
}

@keyframes hidden {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}
.step-0 {
  animation: hidden 0s;
}
.step-0-5 {
  animation: hidden 0.5s;
}
.step-1 {
  animation: hidden 1s;
}
.step-1-5 {
  animation: hidden 1.5s;
}
.step-2 {
  animation: hidden 2s;
}
.step-2-5 {
  animation: hidden 2.5s;
}
.step-3 {
  animation: hidden 3s;
}
.step-3-5 {
  animation: hidden 3.5s;
}
.step-4 {
  animation: hidden 4s;
}
.step-4-5 {
  animation: hidden 4.5s;
}
.step-5 {
  animation: hidden 5s;
}
.step-5-5 {
  animation: hidden 5.5s;
}
.step-6 {
  animation: hidden 6s;
}
.step-6-5 {
  animation: hidden 6.5s;
}
.step-7 {
  animation: hidden 7s;
}
.step-7-5 {
  animation: hidden 7.5s;
}
.step-8 {
  animation: hidden 8s;
}
.step-8-5 {
  animation: hidden 8.5s;
}
.blink2 {
  color: #111;
  animation: blink .50s linear 0s 4;
}
.blink-2 {
  color: #111;
  animation: blink .50s linear 2s 2;
}
.blink-5 {
  color: #111;
  animation: blink .50s linear 5.5s 1;
}
.blink-6 {
  color: #111;
  animation: blink .50s linear 6.5s 2;
}
.blink {
  color: #111;
  animation: blink 0.5s linear 9s infinite;
}
