a {
  text-decoration: none;
  color: deepskyblue;
}

a:hover {
  text-decoration-line: underline;
}

ul {
  list-style: none;
}

.user {
  color: lawngreen;
}

.user-end {
  color: #aaa;
}

@keyframes blink {
  0% {
    color: #aaa;
  }
  50% {
    color: #aaa;
  }
  50.01% {
    color: #111;
  }
  100% {
    color: #111;
  }
}

.blink {
  color: #111;
  animation: blink 0.5s linear infinite;
}
