userColor = lawngreen
linkColor = deepskyblue
typeColor = #aaa
bgColor = #111

body, .input
  background bgColor
  font 16px/18px "Courier New", Courier, monospace
  color typeColor
  word-break: break-all

a
  text-decoration none
  color linkColor

a:hover
  text-decoration-line underline

ul
  list-style none

.user
  color userColor

.path
  color typeColor

@keyframes blink
  0% {
    color typeColor
  }
  50% {
    color typeColor
  }
  50.01% {
    color bgColor
  }
  100% {
    color bgColor
  }

.blink
  color bgColor
  animation blink 0.5s linear infinite

.input
  width 0
  border none
  padding 0
  &:focus
    outline none

@keyframes blink-caret
  0% {
    text-decoration: underline;
  }
  50% {
    text-decoration: underline;
  }
  50.01% {
    text-decoration: none;
  }
  100% {
    text-decoration: none;
  }

.caret
  animation blink-caret 0.5s linear infinite

.selection
  background-color typeColor
  color bgColor

::selection
  background-color typeColor
  color bgColor
